@page "/organizations"
@using ChristmasHamper.ApiClient.Contracts
@using ChristmasHamper.ApiClient.ViewModels
@attribute [StreamRendering]
@inject IOrganizationDataService organizationDataService

<PageTitle>Organization List</PageTitle>

<h3>Organizations</h3>

 @if (organizations == null)
{
    <p><em>Loading...</em></p>
}
else if (!organizations.Any())
{
    <p>No organizations found.</p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Acronym</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in organizations)
            {
                <tr>
                    <td>@item.Name</td>
                    <td>@item.Acronym</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private List<OrganizationViewModel>? organizations;

    protected override async Task OnInitializedAsync()
    {
        organizations = await organizationDataService.GetAllOrganizations();
    }
}










